{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
    <header>
        <nav>
            <p>This is the nav bar </p>
            
        </nav>
    </header>
    <div class="maincontainer">
        <div class="sidebar">
            <ul class="sidebarlist">
                <li><a>Dashboard</a></li>
                <li><a>Customers</a></li>
                <li><a>Items</a></li>
                <li><a>Estimates</a></li>
                <li><a>Delivery Challans</a></li>
                <li><a>Invoices</a></li>
                <li><a>Payment Received</a></li>
                <li><a>Expences</a></li>
                <li><a>TimeSheet</a></li>
                <li><a>Reports</a></li>
            </ul>
        </div>
        <div>
            {% block element %}
            {% endblock element%}
        </div>
    </div>

</body>

</html>