<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>creating the delivery Challans</h1>
    <form action="deliveryChallansNew_post" method="POST">
        customer name 
        <input type="text" name="customername" id="">
        Delivery Challans 
        <input type="number" name="deliverychallans" id="">
        Reference 
        <input type="number" name="reference" id="">
        Delivery challans date 
        <input type="text" name="deliverychallans_date" id="">
        Challans Type
        <input type="date" name="challanstypes" id="">
        
        <button type="submit">Save</button>
        <button type="submit">Canceal</button>
    </form>
</body>
</html>