<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estimate new Page</h1>
    <form action="estimate_new_post" method="POST">
        customer name 
        <input type="text" name="customername" id="">
        estimate 
        <input type="number" name="estimatenumber" id="">
        Reference 
        <input type="number" name="reference" id="">
        estimate data 
        <input type="text" name="estimate_date" id="">
        Expiry Date 
        <input type="date" name="expiry_date" id="">
        salesperson
        <input type="text" name="salesperson" id="">
        project Name 
        <input type="text" name="project_name" id="">

        <button type="submit">Save</button>
        <button type="submit">Canceal</button>

    </form>
</body>
</html>