<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This will help us to store the details of the particular items</h1>
    <form action="items_new_post" method="POST">
        <!-- Type 
        <input type="radio" name="goods" id="type_of_goods">
        <input type="radio" name="services" id="type_of_goods"> -->

        Name 
        <input type="text" name="product_name" id="">
        Unit 
        <input type="number" name="number_of_product" id="">
        Selling Price 
        <input type="number" name="selling_price" id="">
        <textarea name="product_desc" id="" cols="30" rows="10">
            Write Product Description
        </textarea>

        <button type="submit">Save</button>
        <button type="submit">Canceal</button>
    </form>
</body>

</html>