<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is invoice page (only for debug)</h1>
    <!-- This is done for inheritance -->
    <!-- {% block newinvoice %} -->
    <form action="newinvoice_post" method="POST">
        Customer Name <input type="text" name="customer_name" id="">
        Invoice <input type="text" name="invoice_number" id="">
        Order Number <input type="text" name="order_number" id="">
        Invoice Date <input type="date" name="invoice_date" id="">
        Terms <input type="text" name="terms" id="">
        Due Date <input type="date" name="terms" id="">
        SalesPerson <input type="text" name="salesperson" id="">
        Subjects <textarea name="subjects" id="" cols="30" rows="10"></textarea>
        <!-- there are lot of options so leave  -->

        <button type="submit">Save As Draft</button>
        <button type="submit">Save and Send </button>
        <button type="submit">Save and Print</button>
        <button type="submit">Save and Share later</button>



    </form>
    <!-- {% endblock newinvoice %} -->
</body>
</html>