body{
    margin:0px;
    padding:0px;
}
.maincontainer{
    margin:0px;
    padding:0px;
    display:flex;
    text-align: center;
}
.sidebar{
    margin:0px 0px 5px 0px;
    width:12%;
    border: 2px solid black;
    text-align: left;
    background-color: rgb(43, 38, 38);
    color:white;
}
.sidebarlist{
    margin:0px 0px 2px 0px;
    padding: 10px 0px 10px 0px;
    list-style: none;
    align-items: center;
    height: 100vh;
}
li{
    margin:10px 0px 10px 0px;
    padding:10px 0px 10px 0px;
    font-size: 18px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color: yellow;
}
.container{
    width:88%;
    background-color: teal;
    text-align: center;
    align-items: center;

}