body{
    margin: 0px;
    padding: 0px;
    height: 100vh;

}
nav{
    background-color: red;
    padding: 23px;
}
a{
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 18px;
    margin: 5px;
}
a:hover{
    color: blue;
}
input[type='search']{
    
    right: 2%;
    position: absolute;
    padding: 0 10px;
    border-radius: 15px;
    border: 2px solid gray;
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    outline: none;


}